::selection
  background rgba(187, 255, 183, 0.5);
  color #218214
.reveal
  background: black
  .slides
    height 100%
    .hljs 
      background rgba(250, 250, 250, 0.85);
      border-radius 15px
      padding 15px
      color #333
      max-height 100%
    section
      padding 15px
      padding-top 25px
      color rgb(235, 255, 210)
      height 100%
      background-image url('../../imgs/bg-dark.png'), url('../../imgs/logo.png')
      background-repeat no-repeat, no-repeat
      text-align left
      section
          background-image url('../../imgs/bg-dark.png')
      h1, h2
        color rgb(204, 255, 51)
      h1
        width 85%
        font-size 1.5em
        text-transform none
        text-align right
      h2
        color rgb(250, 247, 200)
        font-size 1.3em
        text-transform none
    .slide-title
      background-position top left, bottom right
      background-repeat no-repeat, no-repeat
      h1
        width 100% 
        margin-top 100px
        font-size 1.7em
        text-align left
      h2
        margin-top 45px
        margin-left 20px
        font-size 1.4em          
        text-align left          
    .slide-section
      h1
        margin-top 20%
        font-size 1.8em
      h2 
        margin-top 35px
        font-size 1.4em
     &.slide-questions
       font-size 1em
    .signature
      float right
      position fixed
      bottom 30px
      text-align left
    .signature-course
      color rgb(115, 153, 0)
      font-size 1.2em
      font-weight bold
      line-height 21px
    .signature-initiative
      color rgb(245, 255, 214)
      font-size 1.02em
      line-height 25px
      padding-top 10px
      margin-bottom 0
    .signature-link
      color rgb(115, 153, 0)
      text-decoration underline
      line-height 10px
      