.reveal {
  background: #fff;
}
.reveal .slides {
  height: 100%;
}
.reveal .slides .hljs {
  background: rgba(250,250,250,0.7);
  color: #333;
  max-height: 100%;
}
.reveal .slides section {
  padding: 15px;
  padding-top: 25px;
  background: #fff;
  color: #000;
  height: 100%;
  background-image: url("../../imgs/logo.png"), url("../../imgs/slide-bg.png");
  background-position: bottom right, top right;
  background-repeat: no-repeat, no-repeat;
  text-align: left;
}
.reveal .slides section h1,
.reveal .slides section h2 {
  color: #000;
}
.reveal .slides section h1 {
  width: 85%;
  font-size: 1.5em;
  text-transform: none;
}
.reveal .slides section h2 {
  font-size: 1.3em;
  text-transform: none;
}
.reveal .slides .slide-title {
  background-image: url("../../imgs/logo.png"), url("../../imgs/title-bg.png");
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
}
.reveal .slides .slide-title h1 {
  width: 100%;
  margin-top: 100px;
  font-size: 1.7em;
  text-align: left;
}
.reveal .slides .slide-title h2 {
  margin-top: 45px;
  margin-left: 20px;
  font-size: 1.4em;
  text-align: left;
}
.reveal .slides .slide-section h1 {
  margin-top: 20%;
  font-size: 1.8em;
}
.reveal .slides .slide-section h2 {
  margin-top: 35px;
  font-size: 1.4em;
}
.reveal .slides.slide-questions {
  font-size: 1em;
}
.reveal .slides .signature {
  float: right;
  position: fixed;
  bottom: 20px;
  text-align: left;
}
.reveal .slides .signature-course {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 21px;
}
.reveal .slides .signature-initiative {
  font-size: 1.02em;
  line-height: 25px;
  margin-bottom: 0;
}
.reveal .slides .signature-link {
  line-height: 10px;
}
.reveal .slides .signature-link:hover {
  text-decoration: underline;
}
