.reveal
  background white
  .slides
    height 100%
    .hljs 
      background rgba(250, 250, 250, 0.7);
      color #333
      max-height 100%
    section
      padding 15px
      padding-top 25px
      background white
      color black
      height 100%
      background-image url('../../imgs/logo.png'), url('../../imgs/slide-bg.png')
      background-position bottom right, top right
      background-repeat no-repeat, no-repeat
      text-align left
      h1, h2
        color black
      h1
        width 85%
        font-size 1.5em
        text-transform none
      h2
        font-size 1.3em
        text-transform none
    .slide-title
      background-image url('../../imgs/logo.png'), url('../../imgs/title-bg.png')
      background-position top left, bottom right
      background-repeat no-repeat, no-repeat
      h1
        width 100% 
        margin-top 100px
        font-size 1.7em
        text-align left
      h2
        margin-top 45px
        margin-left 20px
        font-size 1.4em          
        text-align left          
    .slide-section
      h1
        margin-top 20%
        font-size 1.8em
      h2 
        margin-top 35px
        font-size 1.4em
     &.slide-questions
       font-size 1em
    .signature
      float right
      position fixed
      bottom 20px
      text-align left
    .signature-course
      font-size 1.2em
      font-weight bold
      line-height 21px
    .signature-initiative
      font-size 1.02em
      line-height 25px
      margin-bottom 0
    .signature-link
      line-height 10px
      &:hover
        text-decoration underline